<form action="/word/new" method="post">
  <div class="form-group">
    <label for="word">Please Enter A New Word</label>
    <input id ="word" type="text" name="word">
  </div>
  <button type="submit">Submit!</button>
</form>
<br>
