<h1> <%= @word.word() %> </h1>


<% if @word.definitions() == [] %>
  <h5>This Word Does Not Currently Have A Definition. Please Click The "Add A New Definition" Link To Enter A New Definition!</h5>
<% else %>
<ul>
<% @word.definitions().each() do |definition| %>
  <li><%= definition.definition() %> </li>
<% end %>
</ul>
<% end %>

<a href="/<%= @word.id() %>/definition/new">Add A New Definition</a>
